@using VacationTrip.Models.Siniflar
@model List<Yorumlar>
@{
    ViewData["Title"] = "YorumListesi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yorum Listesi</h1>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>KUllanıcı</th>
        <th>Mail</th>
        <th>Yourum</th>
        <th>Blog</th>
        <th><a href="#">Sil</a></th>
        <th><a href="#">Güncelle</a></th>
    </tr>
    @foreach(var x in Model)
    {
        <tr>
            <td>@x.ID</td>
            <td>@x.KullaniciAdi</td>
            <td>@x.Mail</td>
            <td>@x.Yorum</td>
            
        </tr>
    }
    
</table>