@using VacationTrip.Models.Siniflar
@model List<Hakkimizda>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>
    <title>Free Easy-Trip Website Template | About :: w3layouts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="../../css/style.css" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="../../css/slider.css" rel="stylesheet" type="text/css" media="all" />


</head>
    <div class="content">
        <div class="wrap">
        <div class="logo"><a href="index.html"><img src="images/logo.png" alt="" /></a></div>
            <div class="about">
                <h3>Hakkımızda</h3>
                    @foreach (var x in Model)
            {
                <img src="@x.FotoUrl" alt="" />        
                <p>@x.Aciklama</p>
            }
               
            </div>
        </div>
    </div>

